<article class="card-container">
  <section class="card">
    <h1>ADVICE #119</h1>
    <p>
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque nesciunt
      laborum vel sit praesentium sapiente."
    </p>
    <img class="pattern-divider-mobile" src="../assets/images/pattern-divider-mobile.svg" alt="">
    <img class="pattern-divider-desktop" src="../assets/images/pattern-divider-desktop.svg" alt="">
    <div class="icon-dice-container">
      <img src="../assets/images/icon-dice.svg" alt="">
    </div>
  </section>
</article>
